body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.meron {
    color: rgb(233, 149, 22);
}

.fexible-Container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 3%;
}

.half-width img {
    width: 100%;
}

.HIRE1 {
    color: rgb(2, 1, 0);
    text-decoration: none;
    background-color: rgb(13, 206, 196);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.DONWLOAD {
    color: rgb(2, 1, 0);
    text-decoration: none;
    background-color: rgb(13, 206, 196);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.big-dream {
    background-image: url(images/dream-bg.png)
}

.big-dream {
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: solid 7px rgb(78, 39, 2);
}

h2 {
    font-size: 40px;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack-developer {
    border-left: solid 7px rgb(13, 206, 196);
}

footer p {
    text-align: center;
}